{% extends 'layouts/application_base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/create_deck.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/create-deck.js' %}"></script>

    <span id="selected-language" style="display:none;">{{language}}</span>

    <form id="create-deck-form" class="create-deck-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Deck creation</h2>

        {{ form.title.label }}
        {{ form.title }}
        
        {{ form.description.label }}
        {{ form.description }}
        
        {{ form.hsk_level.label }}
        {{ form.hsk_level }}

        {{ form.cefr_level.label }}
        {{ form.cefr_level }}

        {{ form.is_shareable.label }}
        {{ form.is_shareable}}
        
        {{ form.image.label }}
        {{ form.image }}
        <button id="create-deck-button" type="submit">Submit</button>
    </form>

    <div id="alert-box" class="hidden">
        <i class="fas fa-smile"></i> New deck created
    </div>

    <div id="error-box" class="hidden">
        <i class="fas fa-warning"></i> Fill up all the required fields
    </div>
{% endblock %}