{% extends 'layouts/application_base.html' %}

{% block content %}
    {% load static %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/study.css' %}"></link>
    <script src="{% static 'js/study.js' %}"></script>

    {% if decks %}
        
        <header id="page-header">
            <h1><li class="fas fa-arrow-down-short-wide"></li> Choose Your Deck to Study</h1>
        </header>

        <div id="decks-container">
            {% for deck in decks %}
                <div class="deck" id="deck-{{deck.pk}}">
                    <div class="deck-options-bar" id="deck-options-bar">
                        {% if deck.author == user %}
                            <button><i class="fas fa-trash-can"></i></button>
                        {% else %}
                            <button class="remove-deck-button" id="remove-deck-button" type="submit" data-id="{{deck.pk}}"><i class="fas fa-trash-can"></i></button>
                        {% endif %}
                    </div>
                    <h3>{{ deck.title }}</h3>
                    {% if deck.image %}
                        <img id="image" src="{{ deck.image.url }}" alt="{{ deck.title }}">
                    {% else %}
                        <img id="image" src="{% static 'images/default_deck_image.jpg' %}">
                    {% endif %}
                    <p id="description"><i class="fas fa-book-open"></i> {{ deck.description }}</p>
                    <div id="deck_tags">
                        <h4 id="deck_author"><i class="fas fa-face-grin-stars"></i> {{ deck.author }}</h4>
                        {% if deck.language == "Chinese" %}
                            <h4 id="hsk_level"><i class="fas fa-certificate"></i> {{ deck.hsk_level }}</h4>
                        {% else %}
                            <h4 id="cefr_level"><i class="fas fa-certificate"></i> {{ deck.cefr_level }}</h4>
                        {% endif %}
                        <h4 id="cards_cuantity">❐ {{ deck.cards_cuantity }}</h4>
                    </div>

                    {% if deck.author == user %}
                        {% if deck.cards_cuantity == 0 %}
                            <form class="add_card" method="GET" action="{% url 'bank-of-cards' deck.id %}">
                                {% csrf_token %}
                                <button type="submit">Add +</button>
                            </form>
                        {% else %}
                            <form class="study_deck" method="GET" action="{% url 'action-study-deck' deck.id %}">
                                {% csrf_token %}
                                <button type="submit">Study</button>
                            </form>
                            <form class="add_card" method="GET" action="{% url 'bank-of-cards' deck.id %}">
                                {% csrf_token %}
                                <button type="submit">Add +</button>
                            </form>
                        {% endif %}
                    {% else %}
                        <form class="study_deck" method="GET" action="{% url 'action-study-deck' deck.id %}">
                            {% csrf_token %}
                            <button type="submit">Study</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}

            <a class="add-deck-container" href="{% url 'discover' %}">
                <div>
                    <i class="fas fa-add"></i>
                </div>
            </a>
        </div>

    {% else %}

        <h5 id="no_decks_available">How would you like to start?</h5>
        <p id="no_decks_text">Let´s find decks in the library and start studying now. Or create your own custom deck with the words you really need.</p>
        <div id="no_decks_buttons_container">
            <a id="create_deck_button" href="{% url 'create-deck' %}"><span>New Deck</span></a>
            <a id="find_decks_button" href="{% url 'discover' %}"><span>Library</span></a>
        </div>

    {% endif %}

    <script>
        const removeDeckUrl = "{% url 'remove-deck-ajax' %}";
    </script>
{% endblock %}