{% extends "layouts/application_base.html" %}

{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static "css/chat.css" %}">

    <div class="chats-container"> 
        <div class="chats-top-bar">
            <h2>Chat</h2>
            <form class="search-user-form" method="GET">
                <input type="search" name="query" placeholder="Type an username" aria-label="Search">
                <button id="search-button" type="submit">Search</button>
            </form>
        </div>

        <div class="chats">
            {% for chat in chats %}
                <form method="GET" action="{% url 'open-chat' chat.id %}">
                    {% csrf_token %}
                    <button id="open-chat-button" type="submit">
                        {% if chat.profile_picture %}
                            <img id="profile-image" src="{{chat.profile_picture.url}}" alt="{{chat.username}}">
                        {% else %}
                            <img id="profile-image" src="{% static 'images/default_profile_picture.jpg' %}" alt="Default profile picture">
                        {% endif %}
                        <h3 id="username">{{chat.username}}</h3>
                    </button>
                </form>
            {% endfor %}
        </div>
    </div>

    <div id="conversation">
        {% block conversation_content %}
            <!--Conversation will be displayed here-->
        {% endblock %}
    </div>

{% endblock %}