{% extends "layouts/application_base.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/community.css' %}">

    <h2 class="community-title">Community</h2>
    <p class="community-description">Get new friends and meet new people, or participate in different topics with our forum!</p>

    <div class="users-list">
        {% for user in users %}
            <div class="user-card">
                
                {% if user.id in friend_request_receivers %}
                    {% for friend_request in sent_requests %}
                        {% if user == friend_request.receiver %}
                            <form method="POST" action="{% url 'action-cancel-friend-request' friend_request.id %}">
                                {% csrf_token %}
                                <div class="user-profile">
                                    {% if user.profile_picture %}
                                        <img src="{{ user.profile_picture.url }}" alt="{{ user.username }}" class="profile-picture">
                                    {% else %}
                                        <img src="{% static 'images/default_profile_picture.jpg' %}" alt="Default profile picture" class="profile-picture">
                                    {% endif %}
                                </div>
                                <h3 class="user-name">{{ user.username }}</h3>
                                <h4 class="user-country">{{ user.country }}</h4>
                                <button type="submit" class="friend-button cancel" id="friend-request-{{ user.id }}">Sent ☑
                                </button>
                            </form>
                        {% endif %}
                    {% endfor %}

                {% elif user.id in friend_request_senders %}
                    {% for friend_request in friend_requests %}
                        {% if user == friend_request.sender %}
                            <form method="POST" action="{% url 'action-accept-friend-request' friend_request.id %}">
                                {% csrf_token %}
                                <div class="user-profile">
                                    {% if user.profile_picture %}
                                        <img src="{{ user.profile_picture.url }}" alt="{{ user.username }}" class="profile-picture">
                                    {% else %}
                                        <img src="{% static 'images/default_profile_picture.jpg' %}" alt="Default profile picture" class="profile-picture">
                                    {% endif %}
                                </div>
                                <h3 class="user-name">{{ user.username }}</h3>
                                <h4 class="user-country">{{ user.country }}</h4>
                                <button type="submit" class="friend-button accept">Accept ★
                                </button>
                            </form>
                            <form method="POST" action="{% url 'action-decline-friend-request' friend_request.id %}">
                                {% csrf_token %}
                                <button type="submit" class="friend-button decline">Reject X</button>
                            </form>
                        {% endif %}
                    {% endfor %}

                {% else %}
                    <form method="POST" action="{% url 'action-send-friend-request' user.id %}">
                        {% csrf_token %}
                        <div class="user-profile">
                            {% if user.profile_picture %}
                                <img src="{{ user.profile_picture.url }}" alt="{{ user.username }}" class="profile-picture">
                            {% else %}
                                <img src="{% static 'images/default_profile_picture.jpg' %}" alt="Default profile picture" class="profile-picture">
                            {% endif %}
                        </div>
                        <h3 class="user-name">{{ user.username }}</h3>
                        <h4 class="user-country">{{ user.country }}</h4>
                        <button type="submit" class="friend-button add">Add ✚</button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    </div>


    <script>
        $(document).ready(function(){
            // Variables

            $('[id^="friend-request-"]').hover(
                function() { 
                    $(this).data('original-text', $(this).text());
                    $(this).text('Cancel X');
                },
                function() { // When the cursor leaves
                    $(this).text($(this).data('original-text')); // Restore original text
                }
            );
        });
    </script>
{% endblock %}
