{% extends "chat.html" %}

{% load static %}

{% block conversation_content %}
    <link rel="stylesheet" href="{% static "css/open_chat.css" %}">
    {% if friend %}
            <h2 class="title">{{friend.username}}</h2>
    {% else %}
        <h2 class="title">Lets find new friend to talk with :)</h2>
    {% endif %}

    <div class="messages">
        {% if messages %}
            {% for message in messages %}
                {% if message.sender == user%}
                    <div id="sender">
                        <h4>{{ message.message }}</h4>
                    </div>
                {% else %}
                    <div id="receiver">
                        <h4>{{ message.message }}</h4>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <h4>The are no messages yet, let´s start saying "Hi!"</h4>
        {% endif %}
    </div>

    <div class="message-formulary">
        <form method="POST">
            {% csrf_token %}
            {{message_form.message}}
            <button>▶</button>
        </form>
    </div>
{% endblock %}