{% extends "layouts/application_base.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/show_notifications.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/show_notifications.js' %}"></script>

        <div id="top-options-menu" class="top-options-menu">
            <button class="list-new-notifications-button" id="list-new-notifications-button"><i class="fas fa-list-check"></i> New</button>
            <button class="list-read-notifications-button" id="list-read-notifications-button"><i class="fas fa-list-squares"></i> Read</button>
        </div>

        
        {% comment "Notifications" %}{% endcomment %}
        <div id="notifications-container" class="notifications-container">
            {% if notifications %}
                {% for notification in notifications %}
                    {% if notification.is_read == False %}
                        <div class="notification" id="notification-{{notification.pk}}">
                            <h3 id="sent-date">{{ notification.sent_date}}</h3>
                            <h4 id="message">{{ notification.message }}</h4>
                            <button class="read-notification-button" data-id="{{notification.pk}}" type="submit">OK</button>
                        </div>
                    {% endif %}
                {% endfor %}
    
                <div id="no-notifications-container" class="hidden">
                    <h4>There are no new notifications.</h4>
                    <p><i class="fas fa-note-sticky"></i> We will notify you if something important happen.</p>
                </div>
            {% else %}
                <div id="no-notifications-container" class="no-notifications-container">
                    <h4>There are no new notifications.</h4>
                    <p><i class="fas fa-note-sticky"></i> We will notify you if something important happen.</p>
                </div>
            {% endif %}
        </div>


        {% comment "Read Notifications" %}{% endcomment %}
        <div id="read-notifications-container" class="hidden">
            {% if read_notifications %}
                {% for notification in read_notifications %}  
                    {% if notification.is_read == True %}
                        <div class="read-notification" id="read-notification-{{notification.pk}}">
                            <h3 id="sent-date">{{ notification.sent_date}}</h3>
                            <h4 id="message">{{ notification.message }}</h4>
                            <button class="delete-notification-button" data-id="{{notification.pk}}" type="submit"><i class="fas fa-trash-can"></i></button>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            {% endif %}
        </div>
    
    <script>
        const readNotificationUrl = "{% url 'read-notification-ajax' %}";       
        const deleteNotificationUrl = "{% url 'delete-notification-ajax' %}";
    </script>
{% endblock %}
