{% extends "layouts/application_base.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/show_friend_requests.css' %}">

    <div class="friend-requests-list">
        <h2 class="community-title">Friend requests</h2>
        {% if friend_requests %}
                {% for friend_request in friend_requests %}
                    <h4>{{ friend_request.sender}} wants to be your friend!</h4>
                    <form method="POST" action="{% url 'action-accept-friend-request' friend_request.id %}">
                        {% csrf_token %}
                        <button id="accept_friend_request" type="submit">Accept</button>
                    </form>
                    <form method="POST" action="{% url 'action-decline-friend-request' friend_request.id %}">
                        {% csrf_token %}
                        <button id="decline_friend_request" type="submit">Decline</button>
                    </form>
                {% endfor %}
        {% else %}
            <h6>No friend requests here</h6>
        {% endif %}
    </div>

{% endblock %}