{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Luabla - Chinese</title>
        <meta name="description" content="Chinese">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/application_base.css' %}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <body>
        <!--TOP BAR-->
        <nav class="base_top_bar">
            <div class="logo-container">
                <a href="{% url 'welcome' %}">
                    <img src="{% static 'images/panda-logo-1.png' %}" alt="Panda Logo">
                    <h2>Luabla</h2>
                </a>
            </div>

            <div id="language_container">
                <form method="POST" action="{% url 'ACTION-select-language' %}">
                    {% csrf_token %}
                    {% if selected_language == "English" %}
                        <img src={% static 'images/usa-flag.png' %}></img>
                    {% elif selected_language == "Chinese" %}
                        <img src={% static 'images/china-flag.png' %}></img>
                    {% elif selected_language == "German" %}
                        <img src={% static 'images/germany-flag.png' %}></img>
                    {% else %}
                        <img src={% static 'images/usa-flag.png' %}></img>
                    {% endif %}
                    <select name="language" id="language" onchange="this.form.submit()">
                        <option value="English" {% if selected_language == "English" %}selected{% endif %}>English</option>
                        <option value="Chinese" {% if selected_language == "Chinese" %}selected{% endif %}>Chinese</option>
                        <option value="German" {% if selected_language == "German" %}selected{% endif %}>German</option>
                    </select>
                </form>  
            </div>

            <div class="notifications_messages_container">
                <a href="{% url 'show-friend-requests' %}">
                    <div id="notifications">
                        <img src="{% static 'images/friend_requests_icon.png' %}" alt="Friend requests icon">
                        {% if total_friend_requests == 0 %}
                            <h5 style="background-color: rgb(36, 25, 97);">0</h5>
                        {% else %}
                            <h5>{{ total_friend_requests }}</h5>
                        {% endif %}
                    </div>
                </a>

                <a href="{% url 'chat' %}">
                    <div id="messages">
                        <img src="{% static 'images/messages_icon.png' %}" alt="Messages icon">
                        <h5 style="background-color: rgb(36, 25, 97);">0</h5>
                    </div>
                </a>

                <a href="{% url 'show-notifications' %}">
                    <div id="notifications">
                        <img src="{% static 'images/notifications_icon.png' %}" alt="Notifications icon">
                        {% if total_notifications == 0 %}
                            <h5 style="background-color: rgb(36, 25, 97);">0</h5>
                        {% else %}
                            <h5>{{ total_notifications }}</h5>
                        {% endif %}
                    </div>
                </a>
            </div>

            <div class="profile_container">
                <a href="{% url 'user-profile' %}">
                    {% if request.user.profile_picture %}
                        <img src="{{ request.user.profile_picture.url }}" alt="{{ request.user.username }}">  
                    {% else %}
                        <img src="{% static 'images/default_profile_picture.jpg' %}" alt="Default profile picture">
                    {% endif %}
                    <h3>{{request.user.username}}</h3>
                </a>
            </div>
        </nav>




        <!--CHANGEABLE CONTENT-->
        <div id="content">
            {% block content %}
                <!--Changeable content-->
            {% endblock %}
        </div>




        <!--SIDE OPTIONS MENU-->
        <div class="bottom-options-bar">
            <!--a href="{% url 'welcome' %}">
                <li>
                    <h4>Home</h4>
                </li>
            </!a-->
            
            <a href="{% url 'study' %}">
                <li>
                    <h4>Study</h4>
                </li>
            </a>
            
            <a href="{% url 'discover' %}">
                <li>
                    <h4>Library</h4>
                </li>
            </a>
            
            <a href="{% url 'create' %}">
                <li>
                    <h4>Create</h4>
                </li>
            </a>
            
            <a href="{% url 'community' %}">
                <li>
                    <h4>Community</h4>
                </li>
            </a>
            
            <!--a href="{% url 'chat' %}">
                <li>
                    <h4>Chat</h4>
                </li>
            </!a-->
            
        </div>

        <script>
            $(document).ready(function(){
                const hands = 2;
            });
        </script>
    </body>
</html>