{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Luabla - Chinese</title>
        <meta name="description" content="Chinese">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/application_base.css' %}">
    </head>

    <body>
        <nav class="base_top_bar">
            <div class="logo-container">
                <img src="{% static 'images/panda-logo-1.png' %}" alt="Panda Logo">
                <h2>Luabla</h2>
            </div>
            <div id="language_container">
                {% if selected_language == "English" %}
                    <a href={% url 'languages-selection' %}>
                        <img src={% static 'images/usa-flag.png' %}></img>
                    </a>
                    <h2>English</h2>
                {% elif selected_language == "Chinese" %}
                    <a href={% url 'languages-selection' %}>
                        <img src={% static 'images/china-flag.png' %}></img>
                    </a>
                    <h2>中文 - Chinese</h2>
                {% elif selected_language == "German" %}
                    <a href={% url 'languages-selection' %}>
                        <img src={% static 'images/germany-flag.png' %}></img>
                    </a>
                    <h2>German</h2>
                {% else %}
                    <a href={% url 'languages-selection' %}>
                        <img src={% static 'images/usa-flag.png' %}></img>
                    </a>
                    <h2>English</h2>
                {% endif %}
            </div>
            <div class="profile_container">
                {% if request.user.profile_picture %}
                    <img src="{{ request.user.profile_picture.url }}" alt="{{ request.user.username }}">  
                {% else %}
                    <img src="{% static 'images/default_profile_picture.jpg' %}" alt="Default profile picture">
                {% endif %}
                <h3>{{request.user.username}}</h3>
            </div>
        </nav>

        <div id="content">
            {% block content %}
                <!--Changeable content-->
            {% endblock %}
        </div>


        <div class="bottom-options-bar">
            <a href="{% url 'application-home' %}">
                <li>
                    <h4>Home</h4>
                </li>
            </a>
            
            <a href="{% url 'study' %}">
                <li>
                    <h4>Study</h4>
                </li>
            </a>
            
            
            <a href="{% url 'discover' %}">
                <li>
                    <h4>Library</h4>
                </li>
            </a>
            
            
            <a href="{% url 'create' %}">
                <li>
                    <h4>Create</h4>
                </li>
            </a>
            
            
            <a>
                <li>
                    <h4>Ranking</h4>
                </li>
            </a>
            
            <a>
                <li>
                    <h4>Community</h4>
                </li>
            </a>
            
            <a>
                <li>
                    <h4>Chat</h4>
                </li>
            </a>
            
        </div>
    </body>
</html>