/* If no decks */
#no_decks_available{
    text-align: center;
    justify-content: center;
    font-size: 2.0rem;
    color: #111111;
}
#redirecting-text{
    text-align: center;
    justify-content: center;
    font-size: 1.4rem;
    color: #333;
}


/* Alert box styling */
#alert-box {
    position: fixed;
    bottom: 50px;
    right: -400px; /* Start off-screen */
    background-color: rgb(65, 225, 113);
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.849);
    font-size: 1.2rem;
    opacity: 0;
    transform: translateX(0);
    transition: transform .8s ease, opacity 0.8s ease;
    z-index: 1000;
}

#alert-box.visible {
    transform: translateX(-410px); /* Slide into view */
    opacity: 1;
}

#alert-box.hidden {
    transform: translateX(100); /* Slide back off-screen */
    opacity: 0;
}