body{
    background: linear-gradient(#ffffff, #a9b9c7);
    color: white;
}

h3{
    text-align: center;
}

h2{
    color: white;
}

a{
    text-decoration: none;
}



.base_top_bar{
    padding-top: 10px;
    padding-left: 10px;
    position: fixed;
    top: 1;
    width: 100%;
    background-color: rgb(36, 25, 97);
    color: white;
    display: inline-flex;
}

/*Logo of Luabla*/
.logo-container{
    width: 15%;
    justify-content: center;
    justify-items: center;
}

.logo-container a{
    display: inline-flex;
}

.logo-container img{
    width: 75px;
    height: 65px;
    justify-self: center;
    align-self: center;
    padding-bottom: 15px;
}
.logo-container h2 {
    align-content: center;
    margin: 0;
    font-size: 2.0rem; 
    width: 20%;
}

/*Language Container*/
.base_top_bar #language_container{
    display: flex;
    width: 15%;
    margin-left: 30%;
    text-align: center;
}
.base_top_bar #language_container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.base_top_bar #language_container form  select{
    font-family: sans-serif;
    width: 60%;
    background-color: rgb(36, 25, 97);
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    text-align: center;
}
.base_top_bar #language_container form img{
    height: 40px;
    width: 40%;
    margin-left: 10%;
    border-radius: 5px;
    text-align: center;
    object-fit: cover;
}

/*Notifications and Messages container*/
.notifications_messages_container{
    display: inline-flex;
    text-align: center;
    margin-top: 0;
    margin-left: 10%;
    padding-right: 15px;
    border-left: 1px solid rgb(201, 200, 207);
}
.notifications_messages_container div{
    margin-left: 20px;
    border-radius: 5px;
}
.notifications_messages_container div:hover{
    cursor: pointer;
}
.notifications_messages_container div img{
    width: 35px;
    height: 35px;
    margin-top: 10px;
    text-align: center;
}
.notifications_messages_container h5{
    position: absolute;
    top: 40px;
    font-size: 0.7rem;
    color: rgb(255, 255, 255);
    background-color: #bb1212;
    padding-inline: 10px;
    text-align: center;
    border-radius: 5px;
}


/*Profile*/
.profile_container{
    width: 10%;
    display: block;
    text-align: center;
}
.profile_container img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.profile_container h3{
    font-size: 0.8rem;
    margin-top: 0;
}






/*Changeable content block*/
#content{
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    padding-block: 20px;
    padding-inline: 20px;
    height: 500px;
    width: 85%;
    margin-top: 80px;
    margin-left: 10%;
    border-radius: 10px;
    margin-bottom: 150px;
}







/*Bottom Options Bar*/
.bottom-options-bar{
    position: fixed;
    top: 14%;
    height: 86%;
    margin-bottom: 0;
    width: 12%;
    z-index: 1000;   
    display: block-flex;
    background-color: #111111;
}
.bottom-options-bar a li{
    width: 90%;
    margin-left: 5%;
    list-style: none;
    border-radius: 10px;
    padding: 5px 5px;
    cursor: pointer;
}
.bottom-options-bar a{
    text-decoration: none;
    color: rgb(253, 253, 253);
}
.bottom-options-bar h4{
    text-align: center;
}
.bottom-options-bar li:hover{
    color: rgb(199, 199, 199);
    transform: scale(1.02);
    box-shadow: 1px 1px 1px rgb(255, 255, 255);
}
