#deck-title{
    text-align: center;
    width: 100%;
    justify-content: center;
    font-family: sans-serif;
    font-size: 1.8rem;
    padding-block: 10px;
    color: #222;
}

#info{
    text-align: center;
    width: 100%;
    justify-content: center;
    font-size: 1.2em;
    padding-block: 5px;
    color: #444;
}

/* Cards container */
#card-container{
    padding-block: 20px;
    margin-top: 10px;
    width: 40%;
    margin-left: 30%;
    background-color: #111111;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.hanzi{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(45, 20, 100);
    background-color: #111111;
    text-align: center;
    width: 100%;
    justify-content: center;
    justify-items: center;
    padding-top: 25px;
    font-size: 2.5em;
}
.pinyin{
    color: #333333;
    font-size: 1.2rem;
    padding-inline: 20px;
    padding-block: 10px;
}
.word{
    color: rgb(45, 20, 100);
    background-color: #111111;
    text-align: center;
    width: 100%;
    justify-content: center;
    justify-items: center;
    padding-block: 25px;
    font-size: 2.5em;
}
#meaning{
    font-size: 1.2rem;
    color: #555555;
    padding-inline: 5px;
    margin-bottom: 10px;
}
#example_phrase{
    font-size: 1.0rem;
    color: #555555;
    padding-inline: 20px;
    margin-top: 10px;
}
#get-card-button{
    background-color: rgb(35, 10, 90);
    color: white;
    border-radius: 5px;
    border: none;
    padding-block: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    width: 40%;
    margin-left: 30%;
    margin-block: 10px;
    transition: ease-in-out;
    transition-duration: 0.2s;
}
#get-card-button:hover{
    transform: scale(1.02);
    background-color: rgb(15, 9, 90);
}
#skip-card-button{
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 50px;
    color: #666;
    border-radius: 5px;
    border: none;
    padding-block: 5px;
    cursor: pointer;
    width: 40%;
    margin-left: 30%;
    transition: ease-in-out;
    transition-duration: 0.2s;
    background-color: #111111;
}
#skip-card-button:hover{
    transform: scale(1.02);
    color: #777;
}
hr{
    width: 100%;
}


/* No more cards */
#no-more-cards-container{
    display: none;
    text-align: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}