.create-card-form {
    width: 60%;  
    margin: 0 auto;  
    padding: 20px;
    background-color: #ffffff;  
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(58, 58, 60);  
    color: rgb(50, 50, 54);
}

.create-card-form h2{
    font-size: 1.8rem;
    color: rgb(40, 40, 42);
}

.create-card-form label {
    font-size: 1.4rem; 
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: rgb(60, 60, 65); 
}

.create-card-form input[type="text"],
.create-card-form textarea,
.create-card-form select {
    width: 100%;  
    height: 40px;  
    padding: 10px;
    font-size: 1rem; 
    border: 1px solid #313233;
    border-radius: 5px;
    background-color: #ffffff;  
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);  
}

.create-card-form button[type="submit"] {
    background-color: #32429e;  
    color: #ffffff;  
    padding: 10px 20px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.create-card-form button[type="submit"]:hover {
    background-color: #223185;  
}

.create-card-form input[type="text"],
.create-card-form textarea,
.create-card-form select,
.create-card-form button[type="submit"] {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .create-card-form {
        width: 90%;  
    }

    .create-card-form input[type="text"],
    .create-card-form textarea,
    .create-card-form select {
        width: 100%;  
    }
}
