/* Back to previous page button */
#back-page-button{
    color: #111111;
    text-decoration: none;
    font-size: 2.5em;
    position: fixed;
    left: 200px;
    top: 110px;
    font-weight: bold;
}

body{
    background-color: white;
}


/* Deck Container */
#deck-container{
    background-color: #111111;
    width: 40%;
    margin-left: 30%;
    border-radius: 10px;
    padding-block: 5px;
    padding-top: 30px;
    padding-inline: 60px;
}

/* Styling for the deck container */
#deck-container div{
    background-color: #111111; 
    border-radius: 10px; 
    width: 100%;
    text-align: center; 
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    min-height: 380px;
}

/* Card front and back */
.card-front, .card-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

/* Word (For many majority of languages) */
.word {
    font-size: 2.4rem;
    font-weight: bold;
    color: rgb(70, 30, 160); 
    margin-bottom: 0;
}

/* Hanzi (Chinese character) styling */
.hanzi {
    font-size: 2.4rem;
    font-weight: bold;
    color: rgb(70, 30, 160); 
    margin-bottom: 0;
}

/* Pinyin (Romanization) styling */
.pinyin {
    margin-top: 0;
    font-size: 1.2rem;
    color: #5f5f5f; 
}

/* Meaning and example phrase styling */
#meaning {
    font-size: 1.4rem;
    color: #dadada;
    margin-block: 5px;
}

#example_phrase {
    border-top: 1px solid white;
    font-size: 18px;
    color: #5e5e5e; 
    margin-top: 15px;
    padding-top: 20px;
    padding-inline: 35px;
}

/* Buttons */
button {
    background-color: rgb(35, 10, 90); 
    color: #ffffff;
    border: none;
    padding: 15px 50px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 22px;
    padding-inline: 60px;
}

/* Hover effect for buttons */
button:hover {
    background-color: rgb(15, 9, 90); 
    color: white;
}

/* Index of cards*/
#card_index{
    width: 100%;
    text-align: center;
    padding-inline: 5px;
    padding-block: 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2rem;
    color: #3b3b3b;
    border-top: 1px solid #bfe1f8;
}



/*Finished Deck Message*/
#finished_deck_container {
    display: none;
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111;
    padding: 60px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 300px;
}

#finished_deck_container h3 {
    font-size: 2.0rem;
    color: white;
}
#finished_deck_container h4{
    margin-block: 20px;
    font-size: 1.2rem;
    color: #9c9c9c;
}
#finished_deck_message{
    display: none;
}
#continue{
    color: white;
    background-color: rgb(35, 10, 90);
    border-radius: 10px;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 1.5rem;
    margin-inline: 10px;
}
#again{
    color: white;
    background-color: rgb(70, 30, 160);
    border-radius: 10px;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 1.5rem;
    margin-inline: 10px;
}


/* Layout for smaller screens */
@media (max-width: 768px) {
    #card-container {
        width: 95%; /* Make the card container fit smaller screens */
    }
}
