/* Page Header */
#page-header {
    position: fixed;
    top: 48px;
    width: 90%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding-block: 10px;
    background: linear-gradient(rgb(35, 7, 100), rgba(15, 9, 90, 0.575));
    z-index: 999;
}

#page-header h1 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}

/* Container that holds the decks */
#decks-container {
    padding-top: 70px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.add-deck-container{
    padding-block: 120px;
    padding-inline: 20px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 3px 4px 2px 3px rgba(66, 64, 64, 0.76);
    background-color: #888888a4;
    color: #333333b6;
    width: 28%;
    margin-left: 5%;
    margin-bottom: 120px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.add-deck-container:hover {
    transform: translateY(-10px);
}
.add-deck-container i{
    font-size: 3.5em;
}


/* Main container styling for individual deck */
.deck-options-bar{
    display: inline;
    justify-content: right;
    align-content: center;
    gap: 10px;
    width: 100%;
    padding-inline: 10px;
    background-color: rgb(35, 10, 90);
}
.remove-deck-button{
    font-size: 1.0em;
    color: white;
    background-color: rgb(15, 9, 90);
    cursor: pointer;
    padding: 2px;
    border: none;
    border-radius: 5px;
}

.deck {
    padding-block: 10px;
    padding-inline: 20px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 3px 4px 2px 3px rgb(66, 64, 64);
    background-color: #ffffff;
    width: 28%;
    margin-left: 5%;
    margin-bottom: 120px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect on deck container */
.deck:hover {
    transform: translateY(-10px);
}

/* Title styling */
.deck h3 {
    width: 100%;
    font-size: 1.2em;
    color: #333333;
    margin-top: 0;
    margin-bottom: 0;
    padding-inline: 5px;
    text-align: center;
    align-content: center;
    white-space: nowrap; /*Content does not wrap*/
    overflow-x: hidden;
}

/* Image styling */
.deck img {
    width: 220px;
    height: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-bottom: 0;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 2px rgb(93, 93, 94);
    object-fit: cover;
}

/* Description styling */
.deck p {
    min-height: 70px;
    max-height: 70px;
    font-size: 0.9em;
    color: #404650;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 5px;
    padding-block: 10px;
    padding-inline: 20px;
    border-bottom: 1px solid rgb(43, 44, 44);
    overflow-y: scroll;
}

/* Deck tags styling */
#deck_tags {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
}

#deck_tags h4 {
    font-size: 0.9rem;
    font-weight: bold;
}
#deck_author{
    border-radius: 5px;
    padding-inline: 5px;
    padding-block: 2px;
    border: none;
    font-size: 0.8em;
    color: white;
    background-color: rgb(95, 30, 179);
}
#hsk_level{
    border-radius: 5px;
    padding-inline: 5px;
    padding-block: 2px;
    border: none;
    font-size: 0.8em;
    color: white;
    background-color:rgb(224, 72, 45);
}
#cefr_level{
    border-radius: 5px;
    padding-inline: 5px;
    padding-block: 2px;
    border: none;
    font-size: 0.8em;
    color: white;
    background-color:rgb(224, 72, 45);
}
#cards_cuantity{
    border-radius: 5px;
    padding-inline: 5px;
    padding-block: 2px;
    border: none;
    font-size: 0.8em;
    color: white;
    background-color: rgb(18, 138, 68);
}


/* Button styling */
.study_deck{
    width: 100%;
    padding-top: 0;
}
.study_deck button {
    width: 100%;
    padding-block: 5px;
    padding-inline: 120px;
    text-align: center;
    align-content: center;
    background-color: rgb(35, 10, 90);
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
}

.study_deck button:hover {
    transform: scale(1.05);
    transition-duration: 1.2s;
    background-color: rgb(15, 9, 90)
}


.add_card{
    width: 80%;
}

.add_card button {
    width: 100%;
    color: #444;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add_card button:hover {
    transform: scale(1.05);
}


/* If no decks */
#no_decks_available{
    text-align: center;
    justify-content: center;
    font-size: 2.2rem;
    color: #333333;
}
#no_decks_text{
    text-align: center;
    justify-content: center;
    font-size: 1.8rem;
    color: #444444;
    margin-bottom: 50px;
    width: 40%;
    margin-left: 30%;
}
#no_decks_buttons_container{
    display: inline-flex;
    width: 40%;
    margin-left: 30%;
    justify-content: space-around;
}
#create_deck_button{
    text-align: center;
    justify-content: center;
    background-color: #111111;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 2.2rem;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 1px 1px 1px 1px #111111;
}
#create_deck_button:hover{
    background-color: #222222;
    color: white;
    transform: scale(1.05);
}
#find_decks_button{
    text-align: center;
    justify-content: center;
    background-color: #111111;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 2.2rem;
    padding: 15px 42px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 1px 1px 1px 1px #111111;
}
#find_decks_button:hover{
    background-color: #222222;
    color: white;
    transform: scale(1.05);
}
