{% extends 'layouts/welcome_base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/languages_selection.css' %}">
    
    <div id="languages-selection-content">

        <form method="POST" action="{% url 'ACTION-select-language' %}">
            {% csrf_token %}
            <label for="language">Select Language:</label>
            <select name="language" id="language">
                <option value="English">English</option>
                <option value="Chinese">Chinese</option>
                <option value="German">German</option>
            </select>
            <button type="submit">Submit</button>
        </form>        

    </div>
{% endblock %}